::placeholder {
    color: $alto;
}

form {
    input[type="text"],
    input[type="website"],
    input[type="email"] {
        width: 100%;
        @include size(padding, 4, 10, 0);
        @include size(height, 38);
        border: 1px solid color-mix(in srgb, $mainThemeColor, black, 15%);
        border-radius: 3px;
        line-height: 1;
        font-family: $primaryFontFamily;
    }

    textarea {
        border: 1px solid color-mix(in srgb, $mainThemeColor, black, 15%);
        border-radius: 3px;
    }

    .form-control {
        border: 1px solid color-mix(in srgb, $mainThemeColor, black, 15%);
        border-radius: 3px;
    }

    select {
        width: 100%;
        @include size(padding, 0, 10);
        @include size(height, 38);
        border: 1px solid color-mix(in srgb, $mainThemeColor, black, 15%);
        border-radius: 3px;
        @include size(line-height, 38);
        font-family: $primaryFontFamily;
    }
}

.form-group.has-error {
    position: relative;

    input,
    input[type="text"] {
        border: 1px solid $error;
    }

    .form-group__input:after {
        content: "!";
        display: block;
        width: 25px;
        height: 25px;
        padding-left: 1px;
        position: absolute;
        top: 6px;
        right: 8px;
        border-radius: 50%;
        border: 2px solid $error;
        text-align: center;
        color: $error;
        font-size: 15px;
        line-height: 25px;
        font-weight: bold;
        font-family: $secondaryFontFamily;
    }

    label {
        color: $error;
    }
}


.label-floating {
    position: relative;
    padding-top: $line-height-computed;

    label,
    label.control-label {
        position: absolute;
        top: 0;
        display: none;
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: $font-size-small;
        color: $gray-light;
        // text-transform: uppercase;
    }

    input:not(:placeholder-shown) + label,
    textarea:not(:placeholder-shown) + label {
        display: block;
    }

    select + label.control-label {
        display: block;
    }

    input:focus + label,
    textarea:focus + label,
    select:focus + label {
        color: $brand-primary;
    }

    input.field-title {
        font-size: $font-size-h2;
        height: (ceil($font-size-h2 * $line-height-large));
    }

    textarea.field-summary {
        font-size: $font-size-large;
    }

    textarea.field-collapse,
    textarea.field-summary {
        &:placeholder-shown {
            height: (ceil($font-size-large * $line-height-large)) + 10px;
        }
    }

    &.has-error,
    &.invalid {
        input,
        select,
        textarea {
            padding: 0 2px;
            border-bottom: 2px solid $brand-danger;
        }

        label,
        input::placeholder,
        textarea::placeholder {
            color: $brand-danger;
        }
    }

    input:not(:placeholder-shown):invalid + label,
    textarea:not(:placeholder-shown):invalid + label,
    .did-submit :invalid + label {
        color: $brand-primary;
    }

    input:not(:placeholder-shown):invalid,
    textarea:not(:placeholder-shown):invalid,
    .did-submit :invalid {
        padding: 0 2px;
        border-bottom: 2px solid $brand-danger;
    }
}
